{% extends base.html %}

{% block title %}Faculty Dashboard{% endblock %}

{% endblock %}


<div class="py-4">


    
    <div class="row align-items-end mb-5">
        <div class="col-md-8">
            <h1 class="display-6 text-dark">Faculty Dashboard</h1>
            <p class="text-muted">Manage you Things</p>
        </div>
        /* add things later */
    </div>


    <div class="card border-1 shadow-lg mb-5">
        <div class="card-header bg-white border-1 pt-4 ps-4">
            Add something later
        </div>
    </div>


    <div class="row g-4">

        <div class="card h-100 shadow-lg border-1 hover-shadow transition">
            <div class="card-body text-center p-5">
                <div class="display-4 text-primary mb-3">
                    <i class="fa-regular fa-pen-to-square"></i>
                </div>
                <h3 class="card-title fw-normal">Log Class</h3>
                <p class="card-text text-muted mb-4 small">Enter your logs lol</p>
                <a href="{#}" class="btn btn-primary btn-outline-success w-100 py-20 stretched-link">
                    Log Hours
                </a>
            </div>
        </div>

        <div class="card h-100 shadow-lg border-1 hover-shadow transition">
            <div class="card-body h-100 shadow-lg border-1 hover-shadow transition">
                <div class="display-4 text-primary mb-3">
                    <i class="fa-solid fa-pen-to-shield"></i>
                </div>
                <h3 class="card-title fw-bold text-dark">Log History(change later)</h3>
                <p class="card-text text-muted mb-4 small">View your Logs pass history</p>
                <a href="{#}" class="btn btn-warning text-white w-100 ppy-2 stretched-link fw-bold">
                    View logs
                </a>
            </div>
        </div>


        <div class="card h-100 shadow-lg border-1 hover-shadow transition">
            <div class="card-body h-100 shadow-lg border-1 hover-shadow transition">
                <div class="display-4 text-primary mb-3">
                    <i class="fa-solid fa-user-shield"></i>
                </div>
                <h3 class="card-title fw-bold text-dark">Admin Panel</h3>
                <a href="{#}" class="btn btn-warning text-white w-100 py-2 stretched-link fw-bold">ENter the admin panel</a>
            </div>
        </div>

        <div class="card h-100 shadow-lg border-1 hover-shadow transition">
            <div class="card-body h-100 shadow-lg border-1 hover-shadow transition">
                <div class="display-4 text-primary mb-3">
                    <i class="fa-solid fa-user-shield"></i>
                </div>
                <h3 class="card-title fw-bold text-dark">Profile</h3>
                <a href="{#}" class="btn btn-primary text-white w-100 py-2 stretched-link fw-bold disabled">Coming Soon</a>
            </div>
        </div>

    </div>



</div>
